h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.download-button {
    color: aquamarine;
    font-size: 16px;
    font-family: Verdana;
    
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

footer p {
    text-align: right;
    color: gray;
    font-size: 22px;
}



body {
    background-color: black;
    text-align: center;
    font-family: Verdana;
    color: white
}

#gray-text {
    color: gray;
    font-family: Verdana;
    font-size: 21px;
}

